name: Build and Run MQTT Server

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21

      - name: Build server
        run: go build -o mqtt-server main.go

      - name: Run server in background
        run: ./mqtt-server &
